.header {
    display: flex;
    justify-content: space-between;
    background-image: url('../../public/colorful-fancy-sprinkles-seamless-pattern-in-flat-vector-37240953.jpg');
    color: #915405;
    padding: 20px;
    margin:2%;
    font-size: 2em;
    border-top-style: solid;
    border-top-color: 2px #643901;
  }
  
  .header a {
    color: rgb(255, 248, 230);
    text-decoration:none;
  }

  .header a:hover{
    color: #ffffff
  }

  h6{
    margin-left: 50vw;
    font-style: oblique;
    font-size:medium;
  }