.header {
    display: flex;
    justify-content: space-between;
    background-image: url('../../public/colorful-fancy-sprinkles-seamless-pattern-in-flat-vector-37240953.jpg');
    color: rgb(90, 44, 1);
    padding: 25px;
    font-size: 2em;
    box-shadow: 5px 10px #1a0e00;
  }
  
  .header a {
    color: rgb(255, 248, 230);
    text-decoration:none;
  }

  .header a:hover{
    color: #ffffff
  }
  .jumbotron{
    margin-left: 40vw;
    font-style: oblique;
  }