.nav {
    display: flex;
    justify-content: space-between;
    color: #915405;
    padding: 2px;
    margin: 2%;
    font-size: 2em;
    border-bottom-style: solid;
    border-bottom-color: 2px #643901;
  }
  
  .nav a {
    color: #ddd4ba;
    text-decoration:none;
  }

  .nav a:hover{
    color: #915405;
  }